<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <form action="../RegisterServlet" method="post">
        <h2>회원가입 하기</h2>
        <label>ID : </label>
        <input type="text" name="id"><br>
        <label>PASSWORD : </label>
        <input type="password" name="password"><br>
        <label>이름 :</label>
        <input type="text" name="name"><br>
        <label>주소: </label>
        <input type="text" name="address"><br>
        <input type="submit" value="회원가입">
    </form>
</body>
</html>