<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="studentMapper">

	<!--
		resultMap에서 TB_STUDENT, TB_DEPARTMENT
		id, result <== 앞에서 배운 건 여기까지였다면
		<association property="department" resultMap="departmentMap"/>
		
		showStudent
	
	 -->
 	<resultMap type="Student" id="studentMap">
 		<id property="studentNo" column="STUDENT_NO" />
 		<result property="studentName" column="STUDENT_NAME" />
 		<result property="studentAddress" column="STUDENT_ADDRESS" />
 		<association property="department" resultMap="departmentMap"/>
 	</resultMap>
 	
 	<resultMap type="Department" id="departmentMap">
 		<id property="departmentNo" column="DEPARTMENT_NO" />
 		<result property="departmentName" column="DEPARTMENT_NAME" />
 		<result property="category" column="CATEGORY" />
 	</resultMap>
 	
 	<select id="showStudent" parameterType="String" resultMap="studentMap">
 		SELECT STUDENT_NO, STUDENT_NAME, STUDENT_ADDRESS, DEPARTMENT_NAME, CATEGORY
 		FROM TB_STUDENT
 		JOIN TB_DEPARTMENT USING(DEPARTMENT_NO)
 		<trim prefix="WHERE" prefixOverrides="AND|OR">
 			<if test="search != null">
 				STUDENT_NO LIKE '%'||#{search}||'%'
 				OR STUDENT_NAME LIKE '%'||#{search}||'%'
 				OR STUDENT_ADDRESS LIKE '%'||#{search}||'%'
 				OR DEPARTMENT_NAME LIKE '%'||#{search}||'%'
 				OR CATEGORY LIKE '%'||#{search}||'%'
 			</if>
 		</trim>	
 	</select>
 

</mapper>

